section{
    width: 50em;
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
}
fieldset{
    width: 37em;
    background-color: blue;
    border: 1px solid #ffc2dc;
    margin-top: 1em;
    border-radius: 7px;
    box-shadow: 0px 0px 3px #f072a9 inset;


}
label{
    margin: 0.5em 0;
    width: 35%;
    display:inline-block;
    vertical-align: top;
    color: #f072a9;
    font-weight: bold;
    margin-left: 1.5em;
}
input[type="submit"]{
    margin-left: 16em;
    margin-top: 1em;
    background-color: #f072a9;
    width: 8em;
    height: 3em;
    border-radius: 7px;
    color: #ffc2dc;
}
input, select{
    height: 2em;
    width: 20em;
    margin:0.5em 0;
    color:#f072a9;
}

input, textarea, select{
    background-color: #fff4f4;
    border: 1px solid #ffc2dc;
    box-shadow: 0px 0px 3px #f072a9 inset;
    border-radius: 7px;
}
