main{
    width: 60%;
    margin: auto;
    box-sizing: border-box;
}
form{
    width: 35em;
}
label{
    width: 31em;
    display: inline-block;
    padding-top: 1em;
}

input[name*="nom"]{
    width: 45%;
}

input#email{
    width: 94%;
}
select{
    width: 97%;
}
textarea{
    width: 96%;
}

input[type="submit"]{
    background-color: #1e62d0;
    color :white;
}
